In [1]:
import pandas as pd
import numpy as np
import uuid
from nltk.tokenize import word_tokenize

def load_txt(path:str) -> pd.DataFrame:
    pass

def add_document_ids(df:pd.DataFrame) -> pd.DataFrame:
    df.insert(0, "documentID", [str(uuid.uuid1()) for _ in range(len(df))])
    df.set_index("documentID", inplace=True)
    return df


def get_token_count(text:str) -> int:
    return len(word_tokenize(text))

def add_token_counts(df:pd.DataFrame) -> pd.DataFrame:
    df["token_count"] = df["text"].apply(lambda x: get_token_count(x))
    return df

In [2]:
blogs = pd.read_csv("../data/blogs/raw/blogtext.csv")
blogs = add_document_ids(blogs)
blogs = add_token_counts(blogs)

In [61]:


def filter_authors(df:pd.DataFrame):
    
    def by_doc_frequency(min_doc_threshold:int):
        ids = blogs["id"].value_counts()
        filtered_ids = ids[ids >= min_doc_threshold]
        return blogs[blogs["id"].isin(filtered_ids.index)]
    
    def by_avg_token_count(avg_tokens_threshold:int):
        pass

In [67]:
blogs[blogs["token_count"] > 100]

,id,gender,age,topic,sign,date,text,token_count
documentID,,,,,,,,
44d50964-0be6-11ee-a2ce-76349838619e,2059027,male,15,Student,Leo,"12,May,2004",In het kader van kernfusie op aarde...,5018
44d50996-0be6-11ee-a2ce-76349838619e,3581210,male,33,InvestmentBanking,Aquarius,"10,June,2004",I had an interesting conversation...,788
44d509aa-0be6-11ee-a2ce-76349838619e,3581210,male,33,InvestmentBanking,Aquarius,"10,June,2004",Somehow Coca-Cola has a way of su...,235
44d509c8-0be6-11ee-a2ce-76349838619e,3581210,male,33,InvestmentBanking,Aquarius,"10,June,2004","If anything, Korea is a country o...",455
44d509d2-0be6-11ee-a2ce-76349838619e,3581210,male,33,InvestmentBanking,Aquarius,"10,June,2004",Take a read of this news article ...,454
...,...,...,...,...,...,...,...,...
45606202-0be6-11ee-a2ce-76349838619e,1713845,male,23,Student,Taurus,"19,July,2004",Dear susan &nbsp; I have been in jail f...,135
45606220-0be6-11ee-a2ce-76349838619e,1713845,male,23,Student,Taurus,"18,July,2004","Dear Susan, &nbsp; I just wanted to s...",134
4560623e-0be6-11ee-a2ce-76349838619e,1713845,male,23,Student,Taurus,"06,July,2004","Dear Susan, This is pretty neat. I fou...",132
45606284-0be6-11ee-a2ce-76349838619e,1713845,male,23,Student,Taurus,"01,July,2004","Dear Susan, you keep asking me who your...",105
456062ca-0be6-11ee-a2ce-76349838619e,1713845,male,23,Student,Taurus,"01,July,2004","Hey everybody...and Susan, You might a...",281